{% extends "index.html" %}

{% block title %} Faculty List {% endblock %}

{% block content %}

<br>
<div class="table">
    <a class="button_primary" href="{{url_for('faculty.add_faculty')}}">Add Faculty</a> &nbsp;
    <hr>
            <form>
                <button type="submit" onclick="return confirm('Are you sure you want to delete all faculties?')" class="button_danger">Delete all faculties</button>
            </form>
</div>
<br>
<table class="table">
    <tr>
        <th>S/N</th>
        <th>Faculty name</th>
        <th>Faculty Code</th>
        <th>Action</th>
    
    </tr>
{%  for i in fac  %}
    <tr>
        <td>{{ i.id  }}</td>
        <td>{{ i.name  }}</td>
        <td>{{ i.code  }}</td>
        <td>Faculty of Computing</td>
        <td><a class="button_primary" href="#">Edit</a> &nbsp
            <form>
                <button type="submit" onclick="return confirm('Are you sure you want to delete this row?')" class="button_danger">Delete</button>
            </form>
        </td>
    </tr>

{%  endfor  %}

</table>


{% endblock %} 