{% extends "index.html" %}

{% block title %} Faculty List {% endblock %}

{% block content %}

<br>
<div class="table">
    <a class= "button_primary" href="{{url_for('faculty.add_faculty')}}">Add Faculty</a> &nbsp
    <span style="margin-right: 20px;"></span> 
    <form methods="POST" style="display: inline;" action="{{url_for('faculty.delete_all_faculty')}}"> 
        <button type="submit" onclick="return confirm('You sure you wan delete all the faculty')" class="button_danger">Delete all Faculties</button>
    </form>



</div>
</br>



<table class="table">
    <tr>
        <th>S/N</th>
        <th>Faculty Name</th>
        <th>Faculty Code</th>
        <th>Action</th>
    
    </tr>
{% for i in fac %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.code }}</td>
        <td><a class= "button_primary" href="{{url_for('faculty.update_faculty', id=i.id)}}">Edit</a> &nbsp
        <form style="display: inline;" action="{{url_for('faculty.delete_faculty', id=i.id)}}" method="POST">
            <button type="submit" onclick="return confirm('You sure u wan delete this stuff')" class="button_danger">Delete</button>
        </form></td> 
    
    </tr>

    {% endfor %}
</table>


{% endblock %} 