{% extends 'index.html' %}

{% block title %} Add department {% endblock %}

{% block content %}
<form method="POST">
    <p>
        {{form.hidden_tag()}} <!--hemps protect against the cross site request forgery-->
    </p>
    <p>{{fm.department_name.label(class='')}}  <!--This is the text label-->
        {{fm.department_name(class='')}} <!--This is the text field-->
    </p>
    <p>{{fm.department_code.label(}}  <!--This is the text label-->
        {{fm.department_code()}} <!--This is the text field-->
    </p>
    <p>{{fm.submit(class='.button_primary')}}  
    </p>
</form>
  

{% endblock %}