{% extends 'index.html' %}

{% block title %} Add level {% endblock %}

{% block content %}
<form method="POST">
    <p>
        {{form.hidden_tag()}} <!--hemps protect against the cross site request forgery-->
    </p>
    <p>{{form.level_name.label()}}  <!--This is the text label-->
        {{form.level_name()}} <!--This is the text field-->
    </p>
    <p>{{form.level_code.label()}}  <!--This is the text label-->
        {{form.level_code()}} <!--This is the text field-->
    </p>
    <p>{{form.submit(class='.button_primary')}}  
    </p>
</form>
  

{% endblock %}