{% extends "index.html" %}

{% block title %} Program List {% endblock %}

{% block content %}

<br>
<div class="table">
    <a class="button_primary" href="{{url_for('program.add_program')}}">Add Program</a>
    <span style="margin-right: 20px;"></span> 
    <form style="display: inline;" methods="POST" action="{{url_for('program.delete_all_program')}}"> 
        <button type="submit" onclick="return confirm('You sure you wan delete all the Program')" class="button_danger">Delete all Programs</button>
    </form>
</div>

</br>

<table class="table">
    <tr>
        <th>S/N</th>
        <th>program ID</th>
        <th>program Name</th>
        <th>Program Name</th>
        <th>Program Code</th>
        <th>Action</th>
    </tr>

    {% for i in prog %}

    <tr>
        <th>{{ i.id }}</th>
        <th>{{ i.department.id }}</th>
        <th>{{ i.department.name }}</th>
        <th>{{ i.name }}</th>
        <th>{{ i.code }}</th>
        <td>
            <a class="button_primary" href="{{url_for('program.update_program', id=i.id)}}">Edit</a>&nbsp
            <form style="display: inline;" method="POST" action="{{url_for('program.delete_program', id=i.id)}}">
                <button type="submit" onclick="return confirm('You sure you wan delete this stuff')" class="button_danger">Delete</button>
            </form>
        </td> 
    </tr>
    {% endfor %}

</table>

{% endblock %}